
.filterWrapper {
    overflow: hidden;
    transition: all 0.3s ease;
    max-height: 0;
    opacity: 0;
    transform: translateY(-10px);
}

.filterWrapper.open {
    max-height: 500px; 
    opacity: 1;
    transform: translateY(0);
}

.filterWrapper.closed {
    max-height: 0;
    opacity: 0;
    transform: translateY(-10px);
}

.container {
    display: flex;
    flex-direction: column;
    padding: 16px 24px;
    font-size: 10px;
    scrollbar-color: #aaaaaa;
}

.containerHeader {
    display: flex;
    align-items: center;
}

.containerWrapper {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    padding: 4px 20px;
    border-radius: 50px;
    transition: background-color 0.3s ease;
}

.containerWrapper:hover {
    background-color: var(--greyish-text);
}

.containerWrapper:hover .filterSpan {
    color: white;
}

.containerWrapper:hover svg path {
    fill: white;
}

.containerContent {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    margin: 16px 0;
    gap: 32px 8px;
}

.filterSpan {
    font-size: 14px;
    font-weight: 500;
    line-height: 36px;
    color: var(--greyish-text);
}