
header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px 64px 20px 0;
    background-color: black;
}

.favoritesIcon {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.favoritesIcon svg:hover {
    fill: white;
}