
header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px 64px 20px 0;
    background-color: black;
}

.favoritesIcon {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.favoritesIcon svg:hover {
    fill: white;
}

.layout {
    display: flex;
    width: 100%;
    transition: all 0.4s ease;
}

.moviesWrapper {
    margin: 0 32px;
    width: 100%;
    transition: width 0.4s ease;
}

.moviesWrapper.withPanel {
    width: 66%;
}

.compareWrapper {
    width: 0;
    overflow: hidden;
    transition: width 0.4s ease;
    position: sticky;
    top: 0;
    height: 100vh;
}

.compareWrapper.open {
    width: 34%;
}